.main-container
 .side-box
  .side-box__header
   %p test

  .side-box__lists
   .side-box__lists__list
    .side-box__group-name
     %p aaaa
    .side-box__first-text
     %p iiii







 .main-box
  .main-box__header
   .main-box__header-left
    .main-box__header--group-name
     %p test
    .main-box__header--member-name
     %p test
   .main-box__header--editbox
    %p Edit
  .main-box__list
   .main-box__list__empty-box
   .main-box__list__detail-box
   .main-box__list__user-name
    %p test-user
   .main-box__list__date-time
    %p 2018/10/13
   .main-box__list__text
    %p こんにちは！





  .main-box__list__footer
   .main-box__list__footer--form
    %p ああ
