.main-container
 .side-box
  .side-box__header
   %p test

  .side-box__lists
   .side-box__lists__list
    .side-box__group-name
     %p aaaa
    .side-box__first-text
     %p iiii







 .main-box
  .main__header


  .main__list
